@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    user-select: none;
}

:root{
    --background-color: white;
    --alt-background-color: black;
    --font-color: black;
    --alt-font-color: white;
}

.nav-icon{
    width: 30px;
    height: 30px;

    filter: invert(1);
}

.nav-icon.active{
    filter: invert(0);
}

.active{
    background-color: var(--background-color);
    border-radius: 50px;
}

.chose{
    background-color: var(--background-color);
    border-radius: 50px;
}
.choice{
    background-color: var(--background-color);
    border-radius: 50px;
}

.open{
    background-color: var(--background-color);
    border-radius: 50px;

    filter: invert(0);
}
nav{
    width: 300px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--alt-background-color);

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

nav.auth{
    width: 100px;
    height: 50px;
}

nav.auth li{
    transition: all .3s ease-in-out;

    }

nav.auth li:hover{
transform: scale(1.1);
}

ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style: none;

    width: 100%;
    height: 100%;
    
}
ul li{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li a{
    text-decoration: none;
    display: block;
    width: 30px;
    height: 30px;
}

.market-choice{
    width: 80px;
    height: 50px;
    position: absolute;
    bottom: 52px;
    left: 38%;
    transform: translateX(-50%);
}

.notification-choice{
    width: 80px;
    height: 50px;
    position: absolute;
    bottom: 52px;
    left: 13%;
    transform: translateX(-50%);
}

body{
    background-color: var(--background-color);
    color: var(--font-color);

    width: 100vw;
    height: 100vh;
}

.container{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main{
    width: 100%;
    height: 100%;
    margin-bottom:90px ;

}

/** auth pages**/

.main-auth{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.authform{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

input[type="text"], input[type="email"], input[type="password"]{
    width: 300px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid black;
    font-size: 1rem;
    padding: 1rem;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus{
    border: 1px solid black;
}


button{
    width: 300px;
    height: 50px;
    border-radius: 50px;
    border: none;

    background-color: var(--alt-background-color);
    color: var(--alt-font-color);

    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

button:hover{
    transform: scale(1.05);
}

/** profile pages**/

.main-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-profile div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-profile button{
    margin-top: 16px;
}


/** search pages**/

.main-search{
    display:flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.main-search form{

    @media screen and (max-width: 425px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
}

.main-search button{
    width: 100px;
}

/** personal market page**/


.main-pmarket{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.main-amarket{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-top: 66px;
}


/** notf pages**/

.main-notification{
    gap: 1rem;
}

.notification-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}


/**cards**/

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    padding: 1rem;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 1.5rem;
    text-align: left;
    transition: transform 0.2s, box-shadow 0.2s;
}


.card-content h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.card-content p {
    font-size: 1rem;
    color: #666;
    margin: 0.5rem 0;
}

.card-content p span {
    font-weight: bold;
    color: #333;
}

.card-content button {
    width: 100%;
}

/**modals**/

.createmodal{
    width: 300px;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    background-color: var(--background-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;


    padding: 1rem;
}
.createmodal-header{
    display: flex;
    justify-content: end;
    align-items: center;
}
.createmodal-header span{
    cursor: pointer;
    font-size: 32px;
}
.createmodal-content{
    display: flex;
    flex-direction: column;
}

.createmodal-content form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.createmodal-content input{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    font-size: 1rem;
}

.createmodal-content button{
    width: 100%;
    height: 50px;
    margin-top: 1rem;
}



.proposalmodal{
    width: 300px;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    background-color: var(--background-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;


    padding: 1rem;
}
.proposalmodal-header{
    display: flex;
    justify-content: end;
    align-items: center;
}
.proposalmodal-header span{
    cursor: pointer;
    font-size: 32px;
}
.proposalmodal-content{
    display: flex;
    flex-direction: column;
}

.proposalmodal-content form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.proposalmodal-content input{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    font-size: 1rem;
}

.proposalmodal-content button{
    width: 100%;
    height: 50px;
    margin-top: 1rem;
}


.notificationmodal{
    width: 300px;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    background-color: var(--background-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;


    padding: 1rem;
}
.notificationmodal-header{
    display: flex;
    justify-content: end;
    align-items: center;
}
.notificationmodal-header span{
    cursor: pointer;
    font-size: 32px;
}
.notificationmodal-content{
    display: flex;
    flex-direction: column;
}

.notificationmodal-content form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.notificationmodal-content input{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    font-size: 1rem;
}

.notificationmodal-content button{
    width: 100%;
    height: 50px;
    margin-top: 1rem;
}

.card-image {
    width: 250px; /* Ajuste conforme o tamanho do card */
    height: 250px;
    border-radius: 8px; /* Adicione bordas arredondadas, se preferir */
    margin-bottom: 10px;
}

.editmodal{
    width: 300px;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    background-color: var(--background-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;


    padding: 1rem;
}
.editmodal-header{
    display: flex;
    justify-content: end;
    align-items: center;
}
.editmodal-header span{
    cursor: pointer;
    font-size: 32px;
}
.editmodal-content{
    display: flex;
    flex-direction: column;
}

.editmodal-content form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.editmodal-content input{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    font-size: 1rem;
}

.editmodal-content button{
    width: 100%;
    height: 50px;
    margin-top: 1rem;
}